.cert-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #ffffff;
  border: 1px solid #d9dbdf;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #d9dbdf;
  overflow: hidden;
}

.cert-header {
  margin: 0px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
}

.logo_img {
  max-width: 80%;
  max-height: 100px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.cert-body {
  margin: 0px;
  padding: 6px 12px 14px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: break-word;
}

.cert-body-title {
  font-family: "Google Sans Regular";
  font-size: 20px;
  margin: 10px 0 0;
}

.cert-body-subtitle {
  font-family: "Google Sans Regular";
  font-size: 16px;
  color: #808080;
  margin: 8px 0 0;
}

.content {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  z-index: 1;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  z-index: 2;
}

.content:hover .content-details {
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  font-family: "Google Sans Regular";
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
